{% extends 'ramen_rater/base.html' %}
{% block content %}
    <div>
        <table class="ramen" style="width: 150%">
            <tr>
                <th>Brand</th>
                <th>Variety</th>
                <th>Style</th>
                <th>Country</th>
                <th>Stars</th>
                <th>Date review</th>
            </tr>
            {% for ramen in result %}
            <tr>
                <td>{{ ramen.brand }}</td>
                <td>{{ ramen.variety }}</td>
                <td>{{ ramen.style }}</td>
                <td>{{ ramen.country }}</td>
                <td>{{ ramen.stars }}</td>
                <td>{{ ramen.daterate }}</td>
                {% empty %}
                    <li>No ratings found. Please try again! </li>
            {% endfor %}
        </table>
        <div class="pagination">
                <span class="step-links">
                    {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo; </a>
                    {% endif %}
                    {% endif %}
                </span>
            </div>
        <small>
            <span>
                <a href="{% url 'home' %}">Back</a>
            </span>
        </small>
{% endblock content %}